:root{
    --default: #b7b7b7;
    --default_hover: #999999;
    --primary: #0D708F;
    --primary_hover: #0b556b;
    --info: #17a2b8;
    --info_hover: #127888;
    --warning: #ffc107;
    --warning_hover: #c79501;
    --success: #28a745;
    --success_hover: #1f8136;
    --danger: #dc3545;
    --danger_hover: #a72835;
    --inverse: #292b2c;
    --inverse_hover: #000000;
    --faded: #fff;
    --faded_hover: #c2c2c2;

    /* table set Color */
    --table_bg: #fff;
    --table_thead_bg: #ffffff;
    --table_thead_text_color: #070707;
    --table_tbody_text_color: #4e4e4e;
    --loading_color: #696969;

    /* pagination */
    --p_button_active: #0D708F;
    --p_button_active_hover: #015974;
    --p_button_inactive: white;
    --p_button_inactive_hover: grey;
    --p_button_inactive_text: grey;
    --p_button_inactive_border: #9e9e9e;
}
@import "common/datepicker.css";
/* @import "common/button.css"; */
@import "common/table.css";
@import "common/pagination.css";